<section>
    <div class="edit-product-form" data-id="{{objectId}}">
        <header class="main-header">Edit product</header>
        <div class="data">
            <label for="name">Name:</label>
            <input type="text" id="name" value="{{name}}"/>
            <label for="category">Category:</label>
            <input type="text" id="category" value="{{category}}"/>
            <label for="price">Price:</label>
            <input type="text" id="price" value="{{price}}"/>
        </div>
        <div class="panel">
            <button id="edit-product-button" class="button">Edit</button>
            <a href="#/products">
                <button class="button">Cancel</button>
            </a>
        </div>
    </div>
</section>